[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nest-asyncio = "*"
python-dotenv = "*"
pynacl = "*"
py-cord = { extras = ["voice", "speed"], version = "*" }
pytube = "*"
returns = "*"
requests = "*"
yt-dlp = "*"

[dev-packages]
isort = "*"
black = "*"
autoflake = "*"
yt-dlp-types = "*"

[requires]
python_version = "3.11"
